<div href="#" class="box">
    <div class="bg_color" style="background-color: <%= company.color.nil? ? '#ffc600' : company.color %>;"></div>

    <div class="upper-card">
      <p class="box-title text-selector">
        <%=company.name%>
      </p>
      <%= link_to company_path(company), class: "box-button text-selector" do %>
        <button class="box-button text-selector">
          Saiba mais
        </button>
      <% end %>
    </div>

    <p class="box-description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sint neque animi veritatis voluptas in reprehenderit et, doloribus laboriosam quis adipisci libero.
    </p>
</div>
