<a href="#" class="box box--hover">
  <div class="box__bg-color"></div>

  <div class="upper-card">
    <p class="box__title">
      Ruby Corp
    </p>
    <button class="box__button">Saiba mais</button>
  </div>

  <p class="box__description">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sint neque animi veritatis voluptas in reprehenderit et, doloribus laboriosam quis adipisci libero, fugiat ipsa. Error et omnis quam.
  </p>
</a>
