 <div class="card">
    <div class="upper-part-card">
      <div class="overlay-card"></div>
      <div class="photo-card">
        <%= image_tag "photo-card.png", class: "photo-card" %>
        <%= image_tag "icons/ruby-corp.svg", class: "logo-card" %>
        <div class="title-photo-card">Ruby Corp</div>
      </div>
    </div>
      <div class="lower-part-card">
        <div class="one">
          <div class="title-text-card">Ruby Corp</div>
          <button class="button-card" type="submit">Saiba mais</button>
        </div>
        <div class="two">
          <div class="score">
            <%= image_tag "icons/star", class: "star-card" %>
            <div class="rate-card">3.4</div>
          </div>
          <div class="summary-card">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.
          </div>
        </div>
      </div>
  </div>
</div>
