// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$dark-chocolate: #400201;
$falu-red: #861422;
$ku-crimson: #EF0A0A;
$dark-vanilla: #DABCA4;
$silver-pink: #BAB2A6;
$pale-silver: #CDC5B8;
$anti-flash-white: #d70606;
$white: #FFF;
$black: #000
