<% if user_signed_in? %>
  <div class="container text-center">
    <h1>Suas empresas favoritas</h1>
    <h5><%= "Total de empresas: #{@favorites.size}" %></h5>
    <ul>
      <% @favorites.each do |favorite| %>
        <li><%= link_to favorite.company.name, company_path(favorite.company_id) %></li>
      <% end %>
    </ul>
    <p><%= link_to "Voltar à lista de empresas", companies_path  %></p>
  </div>
<% else %>
  <h2>Você precisa estar logado para ver suas empresas favoritas</h2>
  <%= link_to "Faça seu login", new_user_session_path %>
<% end %>
