// Specific CSS for your home-page

.banner {
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}


// Efeito Typewriter


.wrapper {
  position: absolute;
  height: 100%;
  display: grid;
  place-items: center;
  top: 0;
  left: 0;
  color: white;
  font-weight: bold;
  font-size: 31px;
}

.type {
  width: 22ch;
  animation: typing 2s steps(21), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

// Fim Efeito Typewriter
