// Specific CSS for your home-page

.banner {
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}


// Efeito Typewriter


.wrapper {
  position: absolute;
  height: 100%;
  display: grid;
  place-items: center;
  top: 0;
  left: 0;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 31px;
}

.type {
  width: 18ch;
  animation: typing 2s steps(18), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: "Poppins";
  font-size: 2em;
  z-index: 1;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

// Fim Efeito Typewriter


.vazada {
  position: absolute;
  top: 0;
  left: 0;
}
