<div class="navbar-landing-container">

   <%= image_tag("banner1.png", alt: "", class: "navbar-landing") %>


              <div class="links-landing">
                <%= link_to "Registrar", new_user_registration_path, class: "link-nav-landing-register" %>
                <%= link_to "Entrar", new_user_session_path, class: "link-nav-landing-sign-in" %>
              </div>


              <p id="texto"></p>

</div>
