

<div class="navbar navbar-expand-sm navbar-dark navbar-lewagon mb-3">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>

    <%# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> %>

    <div  id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% menu_options = { "Home": "/", "Empresas": "/companies"} %>

        <% menu_options.each do |key, value| %>
          <li class="nav-item">
            <%marker = 'highlighted' if key.to_s == @page_name%>

            <%= link_to key, value, class: "nav-link #{marker}" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
