<img src="../../assets/images/banner.png" alt="">


<div class="container text-center">
  <h1>Esboço do layout</h1>

</div>




<main>
  <div class="container">
    <p data-typewriter="Conectando Rubistas,Conectando Empresas,Conectando Pessoas"></p>
  </div>
</main>














  <%# <%= image_tag "layout.png" %>
  <%# <p>Seja bem-vindo ao [Nome do Projeto], o banco de dados definitivo para empresas e profissionais de Ruby on Rails no Brasil!
    Aqui, você encontra tudo que precisa para impulsionar sua carreira ou encontrar a solução perfeita para seus projetos Rails.
  </p> %>
<%# <%= render "components/card" %>
<%# <%= render "components/card-2" %>
