<div class="container container-edit">
  <h1 class="edit-title">Editar <%= @company.name %></h1>
  <%= render 'form', company: @company %>
  <p><%= link_to "Voltar para a empresa", @company  %></p>
</div>