<div class="container">
  <div class="sign-up-page padder">
    <h1 class="page-title" >Cadastro de Empresa</h1>
    <div class="new-page-lower-part btn-spacer">
      <%= render 'form', company: @company %>
      <%# <p><%= link_to "Back to companies", companies_path </p> %>
    </div>
  </div>
</div>
