.card {
  width: 325.3px;
  height: 338.19px;

  &__upper-part {
    position: relative;

    &__photo {
      position: relative;
      width: 325.3px;
      height: 189.96px;

      &__overlay {
        background-color: $black;
        width: 325.3px;
        height: 189.96px;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.3;
      }

      &__photo-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &__logo {
        width: 34.81px;
        height: 31.74px;
        position: absolute;
        top: 47.57px;
        left: 27.43px;
      }

      &__title {
        font-size: 21.47px;
        font-weight: bold;
        color: $white;
        position: absolute;
        top: 13.42px;
        left: 27.43px;
      }
    }
  }

  &__lower-part {
    position: relative;
    padding: 18px 20px 34px 20px;
    display: flex;
    flex-direction: column;

    &__content-one {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__title-text {
        font-size: 20.94px;
        color: $black;
        font-weight: bold;
      }

      &__button {
        width: 93.76px;
        height: 29.35px;
        background-color: $falu-red;
        border-radius: 6px;
        border: none;
        font-size: 10.2px;
        color: $white;
        font-weight: bold;

        &:active {
          background-color: $dark-chocolate;
        }
      }
    }

    &__content-two {
      display: flex;
      flex-direction: column;

      &__score {
        display: flex;
        align-self: baseline;
        margin-bottom: 16px;

        &__star {
          width: 14.57px;
          height: 13.85px;
          margin-right: 6px;
        }

        &__rate {
          font-size: 12.35px;
          color: $black;
        }
      }

      &__summary {
        font-size: 12.35px;
        line-height: 121.5%;
        text-align: left;
        font-weight: 400;
      }
    }
  }
}


.box {
  display: block;
  padding: 30px 20px;
  overflow: hidden;
  position: relative;
  width: 400px;
  height: 200px;
  border: 1px solid $falu-red;
  border-radius: 6px;
  text-decoration: none;
  margin-bottom: 40px;
}

.upper-card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.box:hover .bg_color {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.box .box-title {
  // overflow: hidden;
  height: 40px;
  width: 229px;
  font-weight: bold;
  font-size: 20.94px;
  color: $falu-red;
  text-align: left;
  z-index: 2;
  position: relative;
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.box-button {
  width: 93.76px;
  height: 29.35px;
  border-radius: 6px;
  border: 1px solid $black;
  font-size: 10.2px;
  font-weight: bold;
  margin-right: 33px;
  z-index: 999;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.box-button a {
  text-decoration: none;
  color: $black;

}

.box-description {
  font-size: 12.35px;
  color: $black;
  z-index: 2;
  position: relative;
  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
  text-align: justify;
}

.bg_color {
  height: 128px;
  width: 128px;
  background-color: #f9b234;
  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;
  border-radius: 50%;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.box:hover,
.box:hover .box-title {
  text-decoration: none;
  color: $black;
  -webkit-transition: color .5s ease-in-out;
  -o-transition: color .5s ease-in-out;
  transition: color .5s ease-in-out
}

.box:hover,
.box:hover .box-button {
  text-decoration: none;
  color: $black;
  background-color: white;
  border: 1px solid $black;
}

.box:hover,
.box:hover .box-description {
  text-decoration: none;
  color: $black;
}
