.navbar-lewagon {
  justify-content: space-between;
  background: $falu-red;
  height: 143.46px;
  padding: 0 180px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 107.79px;
  height: 80.04px;
}

.nav-link {
  color: $white;
  font-size: 21.34px;
  --bs-navbar-nav-link-padding-x: 0;
  margin-right: 30px;
  font-weight: 500;
}

.navbar-expand-sm .navbar-nav .dropdown-menu::before {
  content: "";
  position: absolute;
  top: 23px;
  left: -17px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 20px solid $white;
}

.navbar-expand-sm .navbar-nav .dropdown-menu {
  position: absolute;
  top: -13px;
  right: -180px;
  font-size: 14px;
  width: 160px;
}

.avatar {
  width: 44.11px;
  height: 44.35px;
}

.dropdown-item {
  line-height: 1.2;
}

.highlighted {
  font-weight: 800;
}

.dropdown-extra {
  display: none;
}

.link-nav {
  color: white;
  font-weight: 600;
  font-size: 21.34px;
  margin-right: 20px;
}





@media (max-width: 796px) {

  .navbar-lewagon {

    padding: 0 40px;
}

  .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
    display: none;
}

.dropdown-extra {
  display: block;
}

.navbar-expand-sm .navbar-nav .dropdown-menu {

  top: -35px;
  right: 75px;
}

.navbar-expand-sm .navbar-nav .dropdown-menu::before {
  top: 47px;
  left: 156px;
  transform: rotate(180deg);
}

 }

 @media (max-width: 576px) {

  .dropdown-extra {
    display: block;
  }

  .links-off {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .link-nav {
    font-size: 18px;
  }


 }

 @media (max-width: 465px) {


  .navbar-expand-sm .navbar-nav .dropdown-menu {
    top: 62px;
    right: -49px;
  }

  .navbar-expand-sm .navbar-nav .dropdown-menu::before {
    top: -17px;
    left: 74px;
    transform: rotate(91deg);
  }


  top: -17px;
  left: 74px
px
;
  transform: rotate(91deg);
 }
